# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Virtual environments
.env
.venv/

# OS / Editor
.DS_Store

# dbt runtime artifacts
target/
dbt_packages/
logs/

# Runtime logs
*.log
**/logs/

# Runtime artifacts
**/runs/logs/
