SELECT
    studyid
    ,'SUPPDM' AS RDOMAIN
    ,usubjid
    ,'RACEOTH' AS IDVAR
    ,null AS IDVARVAL
    ,'RACEOTH' AS QNAM
    ,'Race, Other Specify' AS QLABEL
    ,raceoth AS QVAL
FROM {% raw %}{{ ref('raw_{{ domain.lower() }}') }}{% endraw %}
WHERE raceoth IS NOT NULL;