SELECT
    ,studyid AS STUDYID  -- Study Identifier
    ,domain AS DOMAIN  -- Domain Abbreviation
    -- TODO: Unmatched variable: USUBJID
    ,null AS USUBJID  -- Unique Subject Identifier
    ,subjid AS SUBJID  -- Subject Identifier for the Study
    -- TODO: Unmatched variable: RFSTDTC
    ,null AS RFSTDTC  -- Subject Reference Start Date/Time
    -- TODO: Unmatched variable: RFENDTC
    ,null AS RFENDTC  -- Subject Reference End Date/Time
    -- TODO: Unmatched variable: RFXSTDTC
    ,null AS RFXSTDTC  -- Date/Time of First Study Treatment
    -- TODO: Unmatched variable: RFXENDTC
    ,null AS RFXENDTC  -- Date/Time of Last Study Treatment
    -- TODO: Unmatched variable: RFCSTDTC
    ,null AS RFCSTDTC  -- Date/Time of First Challenge Agent Admin
    -- TODO: Unmatched variable: RFCENDTC
    ,null AS RFCENDTC  -- Date/Time of Last Challenge Agent Admin
    ,rficdtc AS RFICDTC  -- Date/Time of Informed Consent
    -- TODO: Unmatched variable: RFPENDTC
    ,null AS RFPENDTC  -- Date/Time of End of Participation
    -- TODO: Unmatched variable: DTHDTC
    ,null AS DTHDTC  -- Date/Time of Death
    -- TODO: Unmatched variable: DTHFL
    ,null AS DTHFL  -- Subject Death Flag
    ,siteid AS SITEID  -- Study Site Identifier
    -- TODO: Unmatched variable: INVID
    ,null AS INVID  -- Investigator Identifier
    -- TODO: Unmatched variable: INVNAM
    ,null AS INVNAM  -- Investigator Name
    ,brthdtc AS BRTHDTC  -- Date/Time of Birth
    ,{% include 'overrides/standard/derive_age.sql' %} AS AGE  -- Age
    -- TODO: Unmatched variable: AGEU
    ,null AS AGEU  -- Age Units
    ,sex AS SEX  -- Sex
    -- TODO: Custom derivation for RACE
    ,null AS RACE  -- Race
    ,ethnic AS ETHNIC  -- Ethnicity
    -- TODO: Custom derivation for ARMCD
    ,null AS ARMCD  -- Planned Arm Code
    -- TODO: Custom derivation for ARM
    ,null AS ARM  -- Description of Planned Arm
    -- TODO: Custom derivation for ACTARMCD
    ,null AS ACTARMCD  -- Actual Arm Code
    -- TODO: Custom derivation for ACTARM
    ,null AS ACTARM  -- Description of Actual Arm
    -- TODO: Custom derivation for ARMNRS
    ,null AS ARMNRS  -- Reason Arm and/or Actual Arm is Null
    -- TODO: Custom derivation for ACTARMUD
    ,null AS ACTARMUD  -- Description of Unplanned Actual Arm
    ,country AS COUNTRY  -- Country
    ,dmdtc AS DMDTC  -- Date/Time of Collection
    -- TODO: Unmatched variable: DMDY
    ,null AS DMDY  -- Study Day of Collection
FROM {% raw %}{{ ref('raw_{{ domain.lower() }}') }}{% endraw %};